@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define custom CSS variables for colors */
:root {
  --foreground-rgb: 201, 168, 96; /* Default foreground color */
  --background-start-rgb: 17, 16, 15; /* Default background gradient start color */
  --background-end-rgb: 91, 93, 78; /* Default background gradient end color */
}

/* Media query for dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 201, 168, 96; /* Dark mode foreground color */
    --background-start-rgb: 17, 16, 15; /* Dark mode background gradient start color */
    --background-end-rgb: 91, 93, 78; /* Dark mode background gradient end color */
  }
}

/* Body styles */
body {
  color: rgb(var(--foreground-rgb)); /* Set text color using custom variable */
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb)) /* Background gradient end color */
    )
    rgb(var(--background-start-rgb)); /* Background gradient start color */
}

/* Utility classes */
@layer utilities {
  .text-balance {
    text-wrap: balance; /* Text wrap balance utility */
  }
}

/* Font declarations */
@font-face {
  font-family: 'Mantinia';
  src: url('fonts/Mantinia.otf') format('truetype'); /* Font file path and format */
  /* Add more font formats (e.g., woff, woff2) if needed */
}

@font-face {
  font-family: 'Garamond';
  src: url('fonts/Garamond Premier Pro Regular.ttf') format('truetype'); /* Font file path and format */
  /* Add more font formats (e.g., woff, woff2) if needed */
}

/* Title text styles */
.title-text {
  font-family: 'Mantinia', sans-serif; /* Set font family */
  color: #d4af37; /* Adjusted to match Elden Ring gold */
}

/* Body text styles */
.body-text {
  font-family: 'Garamond', sans-serif; /* Set font family */
  color: white; /* Default text color */
}

/* Input styles */
.inputBox {
  border: 1px solid #d4af37; /* Adjusted border color */
  background-color: #1d1d1d; /* Dark background color */
  color: white; /* Text color */
  padding: 0.75rem; /* Padding */
  border-radius: 0.25rem; /* Rounded corners */
  transition: border-color 0.3s ease; /* Smooth border transition */
}

.inputBox:focus {
  outline: none; /* Remove outline on focus */
  border-color: #dfaf37; /* Adjusted focus border color */
}
